<button class="btn btn-warning ml-auto" type="button" data-toggle="modal" data-target="#modalContactForm"  routerLink="/create" routerLinkActive="active"><i class="fas fa-plus"></i> Add Team</button>



<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Team Name</th>
      <th>Logo</th>
      <th>Geography</th>
      <th>Major Color</th>
      <th>Capitain</th>
      <th>score</th>
      <th>League</th>
      <th>Ranking</th>
      <th>Warning</th>
      <th>Status</th>
      <th>Members</th>
    </tr>
  </thead>

<tbody>
    <tr *ngFor="let team of listTeams">
        <th></th>
        <td>{{ team.name }}</td>
        <td>{{ team.logo }}</td>
        <td>{{ team.geography }}</td>
        <td>{{ team.major_color }}</td>
        <td>{{ team.capitain }}</td>
        <td>{{ team.score }}</td>
        <td>{{ team.league }}</td>
        <td>{{ team.ranking }}</td>
        <td>{{ team.warning }}</td>
        <td>{{ team.status }}</td>
        <td>{{ team.members }}</td>
        <td>
            <i class="fas fa-edit fa-lg text-info mr-2" [routerLink]="['/edit-teams/', team.id]" ></i>
            <i  class="fas fa-trash-alt fa-lg text-danger "></i>
        </td>
    </tr>
</tbody>
</table>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>